$body-color: #343038;
$secondary-color: #4b494c;
$accent-color: #00a046;
$border-color: #adb1af;

body {
    background-color: $body-color;

    .wrapper-sign-up {
        background-color: $secondary-color;
        padding: 20px 0;
        max-width: 500px;
        color: #ece89d;
        margin: 20px auto;

        h1 {
            font-size: 40px;
            text-align: center;
        }

        .name, .surname, .user_phone, .user_email, .user_password {
            margin: 15px 0 0 10px; 
        }

        form {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: wrap;
            align-items: center;

            &::after {
                content: '';
                width: 400px;
                height: 2px;
                background: $border-color;
                border-radius: 4px;
            }

            input {
                border-radius: 10px;
                width: 300px;
                height: 40px;
                padding-left: 7px;
            }

            label {
                display: block;
                padding-bottom: 3px;
                font-size: 19px;
            }

            .btn-register {
                width: 165px;
                height: 40px;
                border-radius: 20px;
                background: $accent-color;
                font-weight: 600;
                color: white;
                margin: 20px 0;
    
                &:hover {
                    background: white;
                    color: black;
                }
            }

            .btn-signIn {
                background: none;
                border: none;
                color: rgb(62, 182, 226);
                font-size: 18px;
                font-weight: 700;
                margin: 5px 0 15px 0;

                &:hover {
                    color: white;
                }
            }
        }

        .another_authorization {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-top: 15px;
                font-size: 20px;
                color: white;
            }

            .btn-facebook, 
            .btn-google {
                background-color: #f5f5f5;
                box-shadow: inset 0 0 0 1px #ebebeb;
                color: #3e77aa;
                width: 250px;
                height: 48px;
                border-radius: 8px;
                border: none;
                font-size: 18px;
                margin: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
